{% extends 'teacher_view/navbar.html' %}
{% load static %}

{% block content %}
<h2>{{ current_course.title }}</h2>
<h2>Upcoming Assingments</h2>
{% for assignment in upcoming_assignments %}
<div class = assignment_container>
    <a class = assignment href="{% url 'edit_assignment' assignment.title %}"> {{ assignment.title }}</a>
    <p>Due Date: {{ assignment.due_date }}</p>
</div>
{% endfor %}
<h2>Past Assignments</h2>
{% for assignment in past_assignments %}
<div class = assignment_container>
    <a class = assignment href="{% url 'edit_assignment' assignment.title %}"> {{ assignment.title }}</a>
    <p>Due Date: {{ assignment.due_date }}</p>
</div>
{% endfor %}
<div class = assignment_container>
    <a class = assignment href="{% url 'create_assignment' current_course.title %}"> Create Assignment</a>
    <p>Due Date: {{ assignment.due_date }}</p>
</div>

<h2>Students</h2>
{% for student in students %}
<p>{{student}}</p>
{% endfor %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name=student_id default="Student ID Number">
    <input type="submit" name=submit value="Add Student">
    <input type="submit" name="delete" value="Delete Student">
</form>
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css"
href="{% static 'teacher_view/css/navbar.css' %}">
<link rel="stylesheet" type="text/css"
href="{% static 'student_view/css/assignments.css' %}">
{% endblock %}

{% block script %}
<script type = "text/javascript" src = "{% static 'student_view/js/assignments.js' %}" ></script>
{% endblock %}