{% extends 'teacher_view/navbar.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css"
        href="{% static 'teacher_view/css/course.css' %}">
<link rel="stylesheet" type="text/css"
        href="{% static 'teacher_view/css/navbar.css' %}">
{% endblock %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <!--<input class = hidden_button type = "file" hidden = hidden name = class_file>
    <button class = class_button type = "button">Select File</button>
    <span id = custom_text>Empty</span>-->
    {{ file_form }}
    <!--<input class = submit_assignment type = "submit">-->
    <button type="submit" name="file-submit">Submit</button>
</form>
{% endblock %}

{% block script %}
<script type = "text/javascript" src = "{% static 'teacher_view/js/course.js' %}" ></script>
{% endblock %}