{% extends 'student_view/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css"
        href="{% static 'teacher_view/css/navbar.css' %}">
{% endblock %}

{% block navbar %}
<div class="navbar">
    <a href="{% url 'staff_profile' %}">Home</a>
    <a href="staff course create">Grades</a>
    <div class="dropdown">
      <button class="dropbtn">Courses 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{% url 'staff_course_create' %}">Add Course</a>
        {% for course in current_courses %}
        <a href="{% url 'course_page' course.title %}">{{ course.title }}</a>
        {% endfor %}
        <a href="{% url 'past_courses_page' %}">Past Courses</a>
      </div>
    </div> 
  </div>
{% endblock %}