{% extends 'view_and_sidebar.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" 
 href="{% static 'student_view/css/assignments.css' %}"> 
{% endblock %}

{% block title %}
    {{ assignment.title }}
{% endblock %}

{% block content %}
<div>
    <h2 class = assignment_title>{{ assignment.title }} Description</h2>
    <p class = assignment_description>{{ assignment.description|linebreaksbr }}</p>
    <p class = assignment_due_date> Due Date: {{ assignment.due_date }} </p>
    
</div>
<div>
    <input type = "file">
</div>
{% endblock %}