{% extends 'view_and_sidebar.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" 
 href="{% static 'student_view/css/assignments.css' %}">
 
{% endblock %}

{% block title %}
{{ course.title }}
{% endblock %}

{% block content %}
<h2 class = title>{{ course.title }}</h2>
{% for assignment in courses_assignments %}
<div class = assignment_container>
    <a class = assignment href="{% url 'view_assignment' assignment.title %}"> {{ assignment.title }}</a>
    <p>Due Date: {{ assignment.due_date }}</p>
</div>
{% endfor %}
{% endblock %}

{% block script %}
<script type = "text/javascript" src = "{% static 'student_view/js/assignments.js' %}" ></script>
{% endblock %}