{% extends 'view_and_sidebar.html' %}
{% load static %}


{% block title %}
    {{ user.first_name }} {{ user.last_name }} profile
{% endblock %}

{% block style %}
<link rel = "stylesheet" type = "text/css" 
 href="{% static 'student_view/sidebar.css' %}">
<link rel = "stylesheet" type = "text/css" 
 href = "{% static 'student_view/assignments.css' %}">      
{% endblock %}

{% block content %}
    <div>
        <h2 class = title>Upcoming Assignments</h2>
    </div>
    {% for assignment in course_assignments %}
    <div class = assignment_container>
        <a class = assignment href = "{% url 'view_assignment' assignment.title %}"> {{ assignment.title }}</a>
        <p>Due Date: {{ assignment.due_date }}</p>
    </div>
    {% endfor %}
    <h1>
        {{ user.first_name }} {{ user.last_name }} Information
    </h1>
    <h4>email: {{ user.email }}</h4>
{% endblock %}