{% extends 'student_view_base.html' %}
{% load static %}


{% block title %}
    {{ user.first_name }} {{ user.last_name }} profile
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" 
href="{% static 'student_view/sidebar.css' %}">   
{% endblock %}

{% block sidebar %}
<div class=sidebar>
    {% for course in student_courses %}
    <div>
        <a href="{% url 'view_course' course.title %}"> {{ course.title }} </a>
    </div>
    
    {% endfor %}
</div>
{% endblock %}

{% block content %}
    <div>
        <h1>Relevant Assignments</h1>
    </div>
    {% for assignment in course_assignments %}
    <div>
        <a href="{% url 'view_assignment' assignment.title %}"> {{ assignment.title }}</a>
        <p>Due Date: {{ assignment.due_date }}</p>
    </div>
    {% endfor %}
    <h1>
        {{ user.first_name }} {{ user.last_name }} Information
    </h1>
    <h4>email: {{ user.email }}</h4>
{% endblock %}