{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css"
        href="{% static 'student_view/base_design.css' %}">
        <link rel="stylesheet" type="text/css"
        href="{% static 'student_view/sidebar.css' %}">
        {% block style %}
        {% endblock %}
        <title>
        {% block title %}
        {% endblock %}
        </title>
        
    </head>
    <body>
        <div class=banner>
            <h2 class=banner-text>Wartburg MCSP</h2>
        </div>
        {% block sidebar %}
        {% endblock %}
        

      {% block content %}
      {% endblock %}
    </body>
    
</html>