{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css"
        href="{% static 'student_view/base_design.css' %}">
        {% block style %}
        {% endblock %}
        <title>
        {% block title %}
        {% endblock %}
        </title>
        
    </head>
    <body>
        <div class=banner>
            <h2 class=banner-text>Wartburg MCSP</h2>
        </div>
        
        <div class=sidebar>
            {% for course in student_courses %}
            <div>
            <a href="{% url 'view_course' course.title %}"> {{ course.title }} </a>
            </div>
            {% endfor %}
        </div>
      {% block content %}
      {% endblock %}
    </body>
    
</html>