{% extends 'student_view_base.html' %}
{% load static %}

{% block style %}
{% endblock %}

{% block sidebar %}
<div class=sidebar>
        <a href = "{% url 'student_profile_view' %}" class = sidebar_text> Home </a>
        {% for course in student_courses %}
        <div>
        <a href = "{% url 'view_course' course.title %}" class = sidebar_text> {{ course.title }} </a>
        
        </div>
        {% endfor %}
        <div>
        <a href = "{% url 'view_grades' %}" class = sidebar_text> Grades </a>       
        </div>
        
</div>
{% endblock %}