{% extends 'teacher_view/navbar.html' %}
{% load static %}

{% block title %}
<title>Edit {{ assignment.title }}</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css"
        href="{% static 'teacher_view/css/assignment.css' %}">
<link rel="stylesheet" type="text/css"
        href="{% static 'teacher_view/css/navbar.css' %}">
{% endblock %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="submit" id="edit-a-submit">
    <input type="submit" name="delete" value="Delete Assignment">
</form>

<div class=student_homework>
    <h2>Homework Submissions</h2>
    {% for homework in student_homework %}
    <p>{{ homework.student }}</p>
    {% endfor %}
</div>
{% endblock %}