{% extends 'student_view/base.html' %}
{% load static %}

{% block sidebar %}
<div class=sidebar>
        <a href = "{% url 'student_profile_view' %}" class = sidebar_text> Home </a>
        {% for course in student_courses %}
        <div>
        <a href = "{% url 'view_course' course.title %}" class = sidebar_text> {{ course.title }} </a>
        
        </div>
        {% endfor %}
        <div>
        <a href = "{% url 'view_past_courses' %}" class = sidebar_text> Past Courses </a>       
        </div>
        <div>
        <a href = "{% url 'view_handouts' %}" class = sidebar_text> Handouts </a>       
        </div>
        <div>
        <a href = "{% url 'view_discussion' %}" class = sidebar_text> Discussion </a>       
        </div>
        <div>
        <a href = "{% url 'view_grades' %}" class = sidebar_text> Grades </a>       
        </div>
        <div>
        <a href="{% url 'logout' %}" class = sidebar_text>Logout</a>
        </div>
        
</div>
{% endblock %}