.assignment_container{
    border-style: solid;
    border-width: 1px;
    border-color: #ff8103;
    margin: 5px;
    padding: 5px 5px 5px 5px;
    background-color: #f4f4f4;
    width: 400px;
    cursor: pointer;
}

.assignment_container:hover{
    background-color: rgb(200, 200, 200);
}

.assignment{
    border-style: solid;
    border: 5px;
    border-color: #ff8103;
    color:#ff8103;
}

.assignment_title{
    margin-top:10px;
    border-bottom-style: solid;
    border-width: 2px;
    border-bottom-color:#ff8103;
    padding-left: 60px;
    padding-bottom: 5px;
    
    font-size:33px;
}

.assignment_description{
    padding: 10px;
    font-size: 20px;
    border-bottom-style: solid;
    border-bottom-color: #ff8103;
    border-bottom-width: 2px;
}

.assignment_due_date{
    margin:10px;
    font-size:20px;
}

.assignment_button{
    margin:10px;
    border:solid black 1px;
    border-radius: 5px;
    padding:5px;
    background-color: #ff8103;
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

.assignment_button:hover{
    background-color: #f5993d;
}